<html>
  <head>
    <title>Caterories</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  </head>
  <body>
        <div class="card text-center">
        <div class="card-header">
        <ul class="nav nav-pills card-header-pills">
        <li class="nav-item">
        <a class="nav-link active" href="\">Home</a>
        </li>
        <li class="nav-item">
        <a class="nav-link" href="..\addcateg">Add Categories</a>
        </li>
        <li class="nav-item">
        <a class="nav-link" href="..\addgood">Add Goods</a>
        </li>
        <li class="nav-item">
        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
        </li>
        </ul>
        </div>
        <div class="card-body">
        <h1 class="text-muted">{{post_id}}</h1>
        </div>
        </div>


    <div class="container">
        
    <h3>Cost: {{good_list[1]}}</h3>
    <h3>Amount: {{good_list[2]}}</h3>
    <h3>Categories: {{good_list[3]}}</h3>
    </div>
  </body>
</html>